# Python junk
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Environments
env/
.venv/
*.env

#Plannig
planning/

# Streamlit config
.streamlit/

# Logs and data
*.log
*.csv
*.tsv
*.json
*.zip
.DS_Store